body {
    background-color: #18e2e2;
    margin: 2%;
}
.video{
    width: 323px;
    margin-left: 34% !important;
}
.images{
    float:left;
    padding-left:10px;
}
#title {
    text-align: center;
    text-shadow: 5px 5px 10px white;
    font-size: 7vh;
}
#img {
    display: inline-block;
    width: 100%;
}
#caption {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}
div#tribute-data {
    background-color: rgba(21, 63, 39, 0.25);
    box-shadow: 20px 20px 20px #0d8383;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}
h1.title-APJ {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}
#tribute-link {
    text-decoration: none;
    color: black;
}
